/* Theme */

main {
	background: #CCEFFF;
	color: #4B6382;
}

.icons-social a {
	color: #4B6382;
}

.icons-social a svg path{
	fill: #4B6382;
}
/* 
    E5FDFF = bleu clair, 
    F4FEFF = bleu très clair, 
    FFD6FD = rose très clair, 
    CCEFFF = bleu plus foncé, 
    FFFFFF = blanc 
*/