/* Theme */

main {
	background: #E5FDFF;
	color: #FFD6FD;
}

.icons-social a {
	color: #FFD6FD;
}

.icons-social a svg path{
	fill: #FFD6FD;
}
/* 
    E5FDFF = bleu clair, 
    F4FEFF = bleu très clair, 
    FFD6FD = rose très clair, 
    CCEFFF = bleu plus foncé, 
    FFFFFF = blanc 
*/